/* ------------------------- */
/* Project  : Code Quiz      */
/* File     : style.css      */
/* Author   : Vicente Garcia */
/* Date     : 03/01/2022     */
/* Modified : 03/05/2022     */
/* ------------------------- */
.nav{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.intro{
    padding: 100px;
    font-size: 35px;
}
.intro p{
    font-size: 30px;
}
.btn {
    border: none;
    background-color: rgb(0, 89, 255);
    color: hsl(0, 0%, 100%);
    border-radius: 7px;
    box-shadow: 5px 5px 9px black;
    display: inline-block;
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 0px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
    position: relative;
}
.btn:hover {
    box-shadow: 3px 3px 5px black;
    top: -2px;
}
.answer{
  padding: 10px;
  margin: 10px 0px 10px 0px;
}
.questionnaire{
  display: flex;
  flex-direction: column;
  padding: 0 100px 0 100px;
  align-items: flex-start;
}
.questionnaire h1{
  margin-bottom: 5px;
}
.result{
  padding: 0px;
  margin: 0px;
  font-size: 40px;
}
.result p{
  margin-top: 0px;
}
hr{
  color: black;
}

.btn:active {
    box-shadow: 0 0px var(--grey);
    top: 0;
}
.container {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
.score{
  padding: 10px;
  font-size: 35px;
}
.score h1{
  margin: 100px 0px 0px 0px;
}
.score p{
  font-size: 30px;
  
}
.save{
  display: flex;
  font-size: 30px;
  align-items: baseline;
  margin: 10px;
}
.save p{
  padding-right: 10px;
  margin: 0px;
}
.save input{
  width: 95px;
  height: 30px;
  font-size: 20px;
  border-radius: 5px;
  background-color: rgb(224, 220, 220);
  border-style: solid;
}
.save button{
  margin-left: 10px;
  line-height: 5px;
  padding: 13px;
}
.highScore{
  padding: 10px;
  font-size: 35px;
}
.highScore p{
  background-color: rgba(147, 192, 240, 0.817);
  margin: 0px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  text-align: left;
  font-size: 30px;
} 